<div class="container">
    <nav class="navbar navbar-dark bg-dark">
        <div>
            <a routerLink=""><h1>Home</h1></a>
            <ul>
              <li><a routerLink="/login"><h2>Login</h2></a></li>
              <li><a routerLink="/desenvolvedores"><h2>Desenvolvedores</h2></a></li>
            </ul>
        </div>
      <img src="assets/img/cepBr.png" alt="cep" width="300px" height="150px">
      <img src="assets/img/local.png" alt="local" width="230px" height="150px">
    </nav>
  <router-outlet></router-outlet>
  <div class="pos-f-t">
      <div class="collapse" id="navbarToggleExternalContent">
          <div class="bg-dark p-4">
            <h5 class="text-white h4"></h5>
            <span class="text-muted"></span>
          </div>
        </div>
    </div>
</div>



